<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-key"></i> Key Strengths</h2>
<div class="summary">
    <div class="item">
        <span class="project-title"><i class="fa fa-line-chart"></i> <strong>Delivering Business Value</strong> - <span class="project-tagline">
        I strongly believe in delivering business value through IT and clearly differientiating between necessity and nice to have.
        </span>
        </p>
        <p>
        <span class="project-title"><i class="fa fa-bullseye"></i> <strong>Agility</strong> - <span class="project-tagline">
        True agility in approach, not just blind obedience to whatever flavour of 'Agile' is currently trendy.
        </span>
        </p>
        <p>
        <span class="project-title"><i class="fa fa-puzzle-piece"></i> <strong>Complete view</strong> - <span class="project-tagline">
        I strive to understand how everything fits together in both business and all IT aspects.
        </span>
        </p>
    </div><!--//item-->
</div><!--//summary-->
</section><!--//section-->