<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="item">
                    <span class="project-title"><a href="http://github.com/PeerJ/Memon">Memon</a></span> - <span class="project-tagline">Script
                    event monitoring using Python, SQS, and DynamoDB with running costs of around $1/month.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://zymge.com">Zymge</a></span> - <span class="project-tagline">
                    Twitter socal app using NodeJS, Lambda, and MongoDb.
                    </span>
                    
                </div><!--//item-->
            </section><!--//section-->